<!-- views/followme.ejs -->

<!-- <div class="sixthContainer col-xs-12"> -->
<div class="wrapper-6">
  <!-- FOLLOW ME -->
  <!-- ********************************************************************************************************************************************************************************- -->
  <div class="facebook logo">
    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/Phissy07"><i class="fab fa-facebook"></i></a>
    <div class="slider">
      <p>Facebook</p>
    </div>
  </div>
  <div class="instagram logo">
    <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/Physsi07"><i class="fab fa-instagram"></i></a>
    <div class="slider">
      <p>Instagram</p>
    </div>
  </div>

  <div class="linkedin logo">
    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/physsi07"><i class="fab fa-linkedin"></i></a>
    <div class="slider">
      <p>Linkedin</p>
    </div>
  </div>

  <div class="github logo">
    <a class="btn btn-social-icon btn-github" href="https://www.github.com/physsi07"><i class="fab fa-github-alt"></i></a>
    <div class="slider">
      <p>Github</p>
    </div>
  </div>

</div>
<!-- </div> -->
