<!-- views/nav.ejs -->

<div id="wrapper">
  <a href="/"><i class="fas fa-home"></i></a>
  <a href="#education"><i class="fas fa-graduation-cap"></i></a>
  <a href="#contact"><i class="fas fa-envelope"></i></a>
  <a href="/blog"><i class="fab fa-blogger"></i></a>
</div>
