<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <%- include('partials/links.ejs') %>
  </head>
  <body>

    <div id="container">
      <%- include('partials/nav.ejs') %>

    </div>

  </body>
</html>
